name: Markdownlint Action
on: push

jobs:
  build:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483cf6bd87dc884f148ac858e89d23c96640 # v6.0.1
    - uses: nosborn/github-action-markdown-cli@508d6ce5e7494dc6a236ac695d6e94b8f982a0cf # v3.5.0
      name: Markdownlint
      with:
        files: .
        config_file: ".markdownlint.json"
