name: Shellcheck Action
on: push

jobs:
  build:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483cf6bd87dc884f148ac858e89d23c96640 # v6.0.1
    - uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
      name: Shellcheck
