name: Spellcheck Action
on: push

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483cf6bd87dc884f148ac858e89d23c96640 # v6.0.1
    - uses: rojopolis/spellcheck-github-actions@0bf4b2ff27b5677f220d10f25df52f8e5ce52a40 # 0.58.0
      name: Spellcheck

